asgiref==3.7.2
aspectlib==2.0.0
certifi==2023.11.17
distlib==0.3.8
Django>=5.0.8
django-appconf==1.0.6
django-compressor==4.4
django-environ==0.11.2
django-widget-tweaks==1.5.0
Faker==24.2.0
fields==5.0.0
filelock==3.13.1
gunicorn==23.0.0
mysqlclient==2.2.4
packaging==24.1
pillow==10.2.0
pipenv==2023.11.17
platformdirs==4.1.0
psycopg==3.1.18
psycopg-binary==3.1.18
python-dateutil==2.9.0.post0
rcssmin==1.1.1
rjsmin==1.2.1
setuptools>=70.0.0
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.10.0
uWSGI==2.0.26
virtualenv==20.25.0