{% extends 'base.html' %}

{% load static %}
{% load compress %}

{% block content %}

<div class="container mx-auto md:mt-10">
    <div id="map" class="md:rounded-3xl h-[80vh] sm:max-h-screen"></div>
</div>

{% endblock %}

{% block page_scripts %}
    {% compress js %}
    <script src="{% static 'scripts/map.js' %}"></script>
    {% endcompress %}
    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
     <!-- prettier-ignore -->
 <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
    ({key: "AIzaSyBb0ejwhhOlIDo7RclYRdH8Rl0OgC5CyL4", v: "weekly"});</script>
{% endblock %}