<nav class="container mx-auto p-4 border-b border-gray-200">
  <div class="flex justify-between items-center">
    <div>
    <a class="text-xl font-bold" href=""><img src="" alt="" class="w-16">CityWatch</a>
    </div>

    <button type="button" id="hamburger-btn" class="p-2  bg-secondary rounded-lg md:hidden hover:bg-gray-100">
      <span class="sr-only">Open main menu</span>
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
      </svg>
    </button>

    <div class="hidden md:flex space-x-4">
      <a class="p-2 rounded-xl hover:bg-gray-900 hover:text-white" href="/">Home</a>
      <a class="p-2 rounded-xl hover:bg-gray-900 hover:text-white" href="/map">Map</a>
      <a class="p-2 rounded-xl hover:bg-gray-900 hover:text-white" href="/reports">Reports</a>
      <a class="p-2 rounded-xl hover:bg-gray-900 hover:text-white" href="/contact">Contact</a>
      <a class="bg-primary py-2 px-3  rounded-xl hover:bg-gray-900 hover:text-white" href="/report">Report an issue</a>
      {% if user.is_authenticated %}
      <a class="bg-secondary py-2 px-3 rounded-xl hover:bg-gray-900 hover:text-white" href="/dashboard">Dashboard</a>
      <a class="bg-secondary py-2 px-3 rounded-xl hover:bg-gray-900 hover:text-white" href="{% url 'signout' %}">Logout</a>
      {% else %}
      <a class="bg-secondary py-2 px-3 rounded-xl hover:bg-gray-900 hover:text-white" href="/signin">Sign In</a>
      <a class="bg-secondary py-2 px-3 rounded-xl hover:bg-gray-900 hover:text-white" href="/signup">Sign Up</a>
      {% endif %}
    </div>
  </div>

  <div class="hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pt-3">
      <a href="/" class="text-black hover:bg-gray-900 hover:text-white block rounded-md px-3 py-2 text-base font-medium" aria-current="page">Home</a>
      <a href="/map" class="text-black hover:bg-gray-900 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Map</a>
      <a href="/reports" class="text-black hover:bg-gray-900 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Reports</a>
      <a href="/contact" class="text-black hover:bg-gray-900 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Contact</a>
      <a href="/report" class="text-black hover:bg-gray-900 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Report an issue</a>
      <a href="/signin" class="text-black hover:bg-gray-900 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Sign In</a>
    </div>
  </div>
</nav>