{% extends 'base.html' %}

{% load static %}
{% load compress %}
{% load widget_tweaks %}

{% block content %}
<section class="flex h-screen">

    <div class="max-w-md m-auto">
        <h2 class="text-xl font-extrabold"> Create an account</h2>
        <p class="text-base">CityWatch is place to report issues and track the resolution</p>
        <form method="POST">
            {% csrf_token %}
            <div class="space-y-4 mt-8">
                {% render_field form.username placeholder="Username" class="px-2 py-3 w-full text-sm rounded-lg" %}
                {% render_field form.email placeholder="Email" class="px-2 py-3 w-full text-sm rounded-lg" %}
                {% render_field form.password1 placeholder="Password" class="px-2 py-3 w-full text-sm rounded-lg" %}
                {% render_field form.password2 placeholder="Confirm Password" class="px-2 py-3 w-full text-sm rounded-lg" %}

                <p class=" text-sm text-gray-400 text-center"> Already have an account? <a href="{% url 'signin' %}" class="text-primary">Sign In</a> </p>
                {% if form.errors %}
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                    <strong class="font-bold">Oops!</strong>
                    <span class="block sm:inline">{{ form.errors }}</span>
                </div>
                {% endif %}

                <button type="submit" class="bg-primary text-white px-3 py-2 rounded-xl w-full outline-none">Sign Up</button>
                <p class=" text-sm text-gray-400"> By signing up, you agree to our Terms of Service and Privacy Policy </p>
            </div>
        </form>
    </div>

</section>

{% endblock %}
