{% extends 'base.html' %}

{% load static %}
{% load compress %}
{% load humanize %}

{% block content %}

<div class="container my-16 mx-auto md:px-6">

    <section class="mb-32">
      <img src="{{ issue.image.url }}"
        class="mb-6 w-full rounded-lg shadow-lg" alt="issue image" />
  
      <div class="mb-6 flex items-center">
        <img src="/static/images/danger-triangle.svg" class="mr-2 h-8 rounded-full" alt="danger-icon"
          loading="lazy" />
        <div>
          <span> Reported on {{ issue.created_at }} </span>
          <a href="#!" class="font-medium">[ {{ issue.category }} ]</a>
        </div>
      </div>
  
      <h1 class="mb-6 text-3xl font-bold"> {{ issue.title }} </h1>
      <p class="">{{ issue.description }}</p>
     
    </section>
  </div>


   

{% endblock %}